

<!DOCTYPE html>
<html lang="en">

<head>
	<title>500 Error | Scripting To Saves Lives</title>
  <%- include("inc/source",{page:"home"}) %> 
  
      
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/404.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1 id="404">500</h1>
				<h2>Internal Server Error</h2>
			</div>
			<a href="/">Homepage</a>
		</div>
	</div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
