<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About | Scripting To Save Lives</title>
    <%- include("inc/source",{page:"home"}) %>     
  </head>  
  



 <body style="background-color:#2C2F33 !important;color:white;font-family: 'Rubik', sans-serif;">

<!-- Navigation -->

<%- include("inc/navbar",{page:"home"}) %>   

<!-- Header -->
<header class="bg-dark py-5 mb-5" style="background-color:#23272A!important;">
          
       
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">About Us</h1>
        <p class="lead mb-5 text-white-50">Find out more about us!</p>
      </div>
    </div>
  </div>

</header>

<!-- Page Content -->
<div class="content">
  We are a network of programmers who have joined forces in raising money for hospitals. 
  We started this cause to aid the medical workers who are working so hard to treat those with COVID-19 and too make a change for the better so we can all resume our normal lives.<br>
  <br><br>
  
  <h4><b>How It Works</b></h4>
  When you submit code, it is reviewed and if it is deemed good for the website, we will add it. Your code will add to the clean look of the website and make donors feel more confortable when making a donation.
  <a href="/code" class="btn btn-info">Submit Some Code<i class="fas fa-arrow-right" style="margin-left:10px;"></i></a>
  <br><br>
  
  <h4><b>Developers</b></h4>
  <li><a class="ulink" href="https://github.com/RiversideRocks" target="_blank">Riverside Rocks</a></li>
  <li><a class="ulink"  href="https://github.com/javaarchive" target="_blank">Java Archive</a></li>
  <li><a class="ulink"  href="http://anishdoes.dev" target="_blank">AnishDoesDev</a></li>
  <br>
  
  <h4><b>Donators</b></h4>
  None yet! Be the first on the leaderboard.
  <br>
  
  Pst... A bit of inspiration came from <a class="ulink" href="//youtube.com/watch?v=sbEj7M3aZIg">this awesome video!</a>
  <br><br>
  
  <h4><b>Special Thanks To</b></h4>
  <li><a class="ulink" href="https://twitter.com/jennschiffer/status/1248636793995624449" target="_blank">@jennschiffer</a></li>
  <li><a class="ulink" href="https://technolofi.tech.blog/2020/04/12/scripting-to-save-lives-a-glitch-project-by-user-riversiderocks/" target="_blank">Technolofi</a></li>
  <li><a class="ulink" href="https://support.glitch.com/t/mega-thread-scriptingtosavelives-com-we-need-your-help/21753" target="_blank">And everyone who helped with the code!</a></li>
  <br><br>

</div>




<!-- Site footer -->
 <%- include("inc/footer",{page:"home"}) %> 


</body>   
   
</html>
