<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scripting To Save Lives</title>
    <%- include("inc/source") %> 
    
  </head>

  <body style="background-color:#2C2F33 !important;color:white;font-family: 'Rubik', sans-serif;">
    <!-- Navigation -->
    <%- include("inc/navbar",{page:"home"}) %> 
    

    <!-- Header -->
    <header class="bg-dark py-5 mb-5" style="background-color:#23272A!important;">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-lg-12">
            <h1 class="display-4 text-white mt-5 mb-2">
              Scripting To Save Lives
            </h1>
            <p class="lead mb-5 text-white-50">
              Helping the fight against COVID-19!
            </p>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container" id="services">
      <div class="row">
        <div class="col-md-8 mb-5">
          <h2>What We Do</h2>
          <hr style="border-color:white;" />
          <p>
            Scripting To Save Lives is a network of programmers who have joined
            forces in raising money for hospitals. We started this cause to aid
            the medical workers who are working so hard to treat those with
            COVID-19 and too make a change for the better so we can all resume
            our normal lives.
          </p>
        </div>
        <div class="col-md-4 mb-5">
          <h2>Contact Us</h2>
          <hr style="border-color:white;" />
          <address>
            <a href="mailto:support@scriptingtosavelives.com" class="ulink">
              <i class="fas fa-envelope"></i> support@scriptingtosavelives.com
            </a>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div
            class="card h-100"
            style="border: 4px solid #e2a52d;background-color:#23272A !important;"
          >
            <img
              class="card-img-top"
              src="https://cdn.glitch.com/8faceb1e-d174-438f-91d5-8835cbbc3765%2Fcode-1557582_1280.jpg?v=1587042906390"
              alt="Code With Us"
            />
            <div class="card-body">
              <h4 class="card-title" style="text-align:center;">
                Code With Us
              </h4>
              <p class="card-text">
                Send us HTML, CSS, and JavaScript and we will do our best to
                implement it into the project.
              </p>
            </div>
            <div
              class="card-footer"
              style="text-align:center;border-color:white;"
            >
              <a href="/code" class="btn btn-primary btn-lg">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div
            class="card h-100"
            style="border: 4px solid #04c05a;background-color:#23272A !important;"
          >
            <img
              class="card-img-top"
              src="https://cdn.glitch.com/8faceb1e-d174-438f-91d5-8835cbbc3765%2Fdownload.jpeg?v=1587042730643"
              alt="Donate"
            />
            <div class="card-body">
              <h4 class="card-title">Donate</h4>
              <p class="card-text">
                Donate money to hospitals and charities in need.
              </p>
            </div>
            <div
              class="card-footer"
              style="text-align:center;border-color:white;"
            >
              <a href="/donate" class="btn btn-primary btn-lg">Donate</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div
            class="card h-100"
            style="border: 4px solid #2582a4;background-color:#23272A !important;"
          >
            <img
              class="card-img-top"
              src="https://cdn.glitch.com/8faceb1e-d174-438f-91d5-8835cbbc3765%2Fbloomberg-chart-charts-finance-1520777.jpg?v=1587042664190"
              alt="Coid-19 Stats"
            />
            <div class="card-body">
              <h4 class="card-title">Covid-19 Stats</h4>
              <p class="card-text">
                The #1 way track your Discord bots growth.
              </p>
            </div>
            <div
              class="card-footer"
              style="text-align:center;border-color:white;"
            >
              <a
                href="//covid19.riverside.rocks/"
                class="btn btn-primary btn-lg"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Site footer -->
    <%- include("inc/footer",{page:"home"}) %> 
  </body>
</html>
